.main-container .say-button {
  height: 60px;
}

.main-container .say-button .say-button-label {
  padding: 10px 30px 10px 30px;
  font-size: 16px;
  font-weight: 500;
}

.main-container .nav-tabs > li > a {
  padding: 3px 10px;
}

.main-container .chatflowOverlay {
  position: absolute;
  right: 30px;
  top: 20px;
}
