<!DOCTYPE html>
<html>
  <head>
  <meta name="description" content="bootstrap admin template">
  <title>Error</title>
  </head>
  <body>
  <!-- Page -->
  <div class="">
    <div class="page-content container-fluid">
      <div class="row" data-plugin="matchHeight" data-by-row="true">

        <%= message %>. Please click <a href="/">here</a> to continue or hit back button.

      </div>
    </div>
  </div>
  <!-- End Page -->
  </body>
</html>
