.main-container {
    .say-button {
        height: 60px;
        .say-button-label {
            padding: 10px 30px 10px 30px;
            font-size: 16px;
            font-weight: 500;
        }
    }
    .nav-tabs>li>a {
        padding: 3px 10px;
    }
    .chatflowOverlay {
        position: absolute;
        right: 30px;
        top: 20px;
    }
}