<div class="col-sm-4 col-md-4 col-lg-4 preview-container">
    <div class="preview-header">
        <div class="preview-header-recent text-left">
            <h4 style="color:blue">< Recent</h4>
        </div>
        <div class="preview-header-center text-center">
            <h4 style="margin-top:15px; margin-bottom:0px;">Test</h4>
            Typically replies instantly
        </div>
        <div class="preview-header-right text-right">
            <h4 style="color:blue">Block</h4>
        </div>
    </div>

    <div class="row preview-body">
        <div style="display:flex">
            <div class="user-avatar">
                <img class="img-circle img-responsive" style="width:70px;height:70px" src="/assets/global/portraits/5.jpg" alt="..."/>
            </div>
            <div class="bot-details">
                <h3 style="margin-top:10px; margin-bottom:5px;">Test</h3>
                0 people like this
                <label>App page</label>
            </div>
        </div>
        <div class="contents">

        </div>
    </div>
    <div class="row preview-footer">
        <button class="btn btn-pure btn-primary icon fa-plus-circle"></button>
        <button class="btn btn-pure btn-default icon fa-camera"></button>
        <button class="btn btn-pure btn-default icon fa-image"></button>
        <button class="btn btn-pure btn-default icon fa-microphone"></button>
        <button class="btn btn-round btn-outline btn-default interact">
            <div class="icon fa-font pull-left left"></div>
            <div class="icon md-mood pull-right right"></div>
        </button>
        <button class="btn btn-pure btn-primary icon fa-reorder"></button>
    </div>
</div>